*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /*
  1rem:
  16px = 100%
  10px = 62.5%

  8px = 50%

  Here we reset the value of 1rem to be equivalent to 10px, inorder to approximate distance values

  For example:
  it is easier to write 100px = 10rem when 1rem = 10px
  unlike 100px = 6.25rem when 1rem = 16px
  */
  font-size: 62.5%;
  @include respond(tab-land){ font-size: 56.25%; };   // 9px

  @include respond(tab-port){ font-size: 50%; };      // 8px

  @include respond(big-desktop){ font-size: 75%; };   // 12px
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port){
    padding: 0;
  }
}
